@import "./helpers/normalize.scss";
@import "./helpers/video-requirements.scss";
@import "./helpers/video-publishing.scss";
@import "./helpers/rules.scss";
@import "./helpers/slick-slider.scss";


@font-face {
  font-family: Cera Pro;
  src: url("../fonts/CeraPRO.otf") format("opentype");
  }
  @font-face {
    font-family: Cera PRO Medium;
    src: url("../fonts/Cera+PRO+Medium.otf") format("opentype");
    }
  body {
      font-family: Cera PRO;
  }

*{
  box-sizing: border-box;
}


.breadcrumbs {
  display: none;
}

.welding {
margin: 0px auto;
}

h1 {
font-size: 2em;
margin: .67em 0;
}

img {
border-style: none;
max-width: 100%;
}

.hero-banner {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: relative;
width: 100%;
background-color: #d9d9d9;
padding-top: 55.5%;
}

.hero-banner__thumb {
position: absolute;
width: 100%;
display: block;
top: 0;
right: 0;
bottom: 0;
left: 0;
pointer-events: none;
}

.hero-banner__text {
position: absolute;
color: #fff;
text-transform: uppercase;
font-size: 22px;
font-weight: 700;
bottom: 30.222222VW;
left: 9VW;
margin: 0;
letter-spacing: .03em;
}

.hero-banner__text__title {
position: absolute;
font-size: 19px;
margin-top: 30px;
width: 124px;
bottom: 7VW;
left: 9VW;
color: #fff;
}

.welding__section {
margin: 0px auto;
max-width: 1400px;
}

.welding__section__land-weld {
position: relative;
background-color: #EDEEF5;
margin: 80px 0px 100px;
}

// .welding__section__land-weld:last-child {
// padding-bottom: 0px;
// }

.land-weld__block {
max-width: 690px;
padding: 45px 0% 0% 5%;
display: inline-block;
margin-right:48%;
}

.land-weld__img {
position: absolute;
bottom: 0px;
right: 3%;
width: 46%;
height: auto;
padding-bottom: 35%;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.welding-m16 {
background-image: url(../img/welding-banner.png);
}

.compressor {
  background-image: url(../img/compressor-banner.png);
  width: 48%;
  bottom: 8px;
  padding-bottom: 41%;
}

.perforator {
background-image: url(../img/perforator-banner.png);
top: -25%;
}
.grinders{
  background-image: url(../img/grinders-banner.png);
  width: 55%;
  right: -1%;
  bottom: -46px;
}

.land-weld__block__bj {
display: inline;
font-style: normal;
display: block;
width: -webkit-max-content;
width: -moz-max-content;
width: max-content;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
background: #222222;
border-radius: 50px;
padding: 8px 15px 9px;
}

.land-weld__block__alt {
font-weight: 500;
font-size: 36px;
line-height: 45px;
color: #171717;
margin-bottom: 60px;
max-width: 530px;
}

.land-weld__block__accessories {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
align-items: flex-end;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
// width: 65%; 
max-width: 400px;             
}

.land-weld__block__accessories-item {
width: 43%;
display: flex;
margin-bottom: 60px;
align-items: center;
}
.accessories-item__img{
  margin-right: 15px;
}

.land-weld__block__title {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: rgba(23, 23, 23, 0.6);
}

.other-size{
  width:130%;
}
.other-size-mask{
  width:110%;
}
.other-size-mask-block{
  width:46%;
}

@media only screen and (min-width: 400px) {
.hero-banner__text {
  font-size: 6VW;
}

.hero-banner__text__title {
  width: 370px;
  color: #fff;
  bottom: 15VW;
  left: 9VW;
}
}

@media only screen and (min-width: 600px) {
.hero-banner {
  padding-top: 55.5%;
}

.hero-banner__text__title {
  font-size: 3vw;
    width: 250px;
}
}

@media only screen and (min-width: 1024px) {
.hero-banner {
  padding-top: 28.666%;
  margin: 0px auto;
}

.hero-banner__text {
  font-size: 3.2291666667vw;
  bottom: 43%;
  left: 13.2vw;
  line-height: 120%;
}

.hero-banner__text__title {
  font-size: 1.5vw;
  width: 398px;
  color: #fff;
  bottom: 22%;
  left: 13.3%;
}
}

@media only screen and (max-width: 1024px) {
.welding__section__land-weld {
  margin: 20px 15px;
  // padding-bottom: 30px;
}

.land-weld__block {
  display: block;
  margin: 0px auto;
  padding: 30px 30px 0px;
}

.land-weld__img {
  position: static;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 59%;
}
.electrodes {
 background-position-y: 0px;
}
.land-weld__block__accessories {
  width:100%;
  max-width: none;
}
.other-size{
width:100%;   
}
.other-size-mask{
  width:100%;
}
.compressor{
  width: 100%;
  padding-bottom: 80%;
}
}

@media only screen and (max-width: 600px) {
.land-weld__block__alt {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.land-weld__block__accessories {
  flex-direction: row;
}

.land-weld__block__accessories-item:nth-child(2n+1) {
  margin-right: 0px;
}

.land-weld__block__accessories-item {
  // width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px 0px;
}

.land-weld__block__title {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  width: 46%;
}
}
@media only screen and (max-width: 465px) {
  .land-weld__block__accessories {
    flex-direction: column;
  }
  .land-weld__block__accessories-item {
    width: 100%;
    margin: 0px;
    justify-content: start;
  }
  .land-weld__block__title{
    width: auto;
  }

}